<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057863162988-t3irbhkimcj3mo3alfkmbuk85sr10guq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057863162988-t3irbhkimcj3mo3alfkmbuk85sr10guq</string>
	<key>API_KEY</key>
	<string>AIzaSyBgapgtRT9FKmwErfkR6iFQiH-2V5mBYZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1057863162988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portafolioKimberlly</string>
	<key>PROJECT_ID</key>
	<string>portafolio-9ce0d</string>
	<key>STORAGE_BUCKET</key>
	<string>portafolio-9ce0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057863162988:ios:ccd987f1d11a81a9cf0c49</string>
	<key>DATABASE_URL</key>
	<string>https://portafolio-9ce0d-default-rtdb.firebaseio.com</string>
</dict>
</plist>